<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Print Sentinel</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/style-additions.css') }}">
</head>
<body data-start-url="{{ url_for('start_live_detection') }}"
      data-stop-url="{{ url_for('stop_live_detection') }}"
      data-live-status-url="/live/status"
      data-alerts-feed-url="{{ url_for('live_alerts_feed') }}"
      data-camera-feed-url="{{ url_for('camera_feed') }}"
      data-countdown-time="{{ countdown_time }}"
      data-settings-url="{{ url_for('settings_page') }}">

    <header class="app-header">
        <h1>Print Sentinel</h1>
    </header>

    <div class="container">
        <div class="main-layout">
            <section class="video-section">
                <h2>Live Video Feed</h2>
                <img id="videoPreview" src="{{ url_for('camera_feed') }}" alt="Live Video Feed Preview" />
                <label for="cameraSelect" class="camera-select-label">Select Camera:</label>
                <select id="cameraSelect" name="camera">
                {% for camera_id in camera_states %}
                    <option value="{{ camera_id }}" {% if camera_index == camera_id %}selected{% endif %}>{{ camera_id }}</option>
                {% endfor %}
                </select>
            </section>

            <section class="controls-section">
                <div class="desktop-controls-text">
                    <h2>Controls</h2>
                    <p>Something here for starting and stopping live detection. And live imaging throughput.</p>
                </div>
                 <div class="mobile-controls">
                    <h2>Controls</h2>
                </div>
                <div class="start-stop-buttons">
                    <button id="startBtn">Start</button>
                    <button id="stopBtn" class="button-secondary">Stop</button>
                </div>
                <div class="camera-stats">
                    <h2>Detection Metrics</h2>
                    <div class="grid-container four-by-four-grid">
                        <div class="grid-item">
                            {% set current_cam_state = camera_states.get(camera_index) %}
                            <p id="elapsedTimeDisplay">
                                N/A
                            </p>
                        </div>
                        <div class="grid-item">
                            <p id="lastResultDisplay">N/A</p>
                            <p>detected at <span id="lastTimeValue">N/A</span></p>
                        </div>
                        <div class="grid-item">
                            <p id="totalDetectionsDisplay">N/A</p>
                            <p>total detections</p>
                        </div>
                        <div class="grid-item">
                            <p>TBC</p>
                            <p>detections per second</p>
                        </div>
                </div>
                <div class="status-area" id="statusArea">
                    <div class="status-inactive">Detection Inactive</div>
                </div>
                 <div class="settings-button-container">
                    <button id="settingsBtn" onclick="window.location.href='/settings'">Settings</button>
                </div>
            </section>
        </div>
    </div>

    <script>
        const statusArea = document.getElementById('statusArea');
        const startBtn = document.getElementById('startBtn');
        const stopBtn = document.getElementById('stopBtn');
        const videoPreview = document.getElementById('videoPreview');
        const cameraSelect = document.getElementById('cameraSelect');

        const elapsedTimeDisplay = document.getElementById('elapsedTimeDisplay');
        const lastResultDisplay = document.getElementById('lastResultDisplay');
        const lastTimeValue = document.getElementById('lastTimeValue');
        const totalDetectionsDisplay = document.getElementById('totalDetectionsDisplay');

        function updateElapsedTime(start_time, doc_element) {
            if (!start_time) {
                doc_element.textContent = '-';
                return;
            }
            const elapsedTime = ((Date.now() / 1000) - start_time).toFixed(0);
            doc_element.textContent = `${elapsedTime}s elapsed`;
        }

        function updateRecentDetectionResult(result, doc_element) {
            doc_element.textContent = result || 'in-active';
        }

        function updateRecentDetectionTime(last_time, doc_element) {
            try {
                if (!last_time) {throw 'exit';}
                const date = new Date(last_time * 1000);
                const timeString = date.toISOString().substr(11, 8);
                doc_element.textContent = timeString;
                return;
            } catch (e) {
                doc_element.textContent = '-';
            }
        }

        function updateTotalDetectionsCount(detection_times, doc_element) {
            if (!detection_times) {
                doc_element.textContent = '-';
                return;
            }
            doc_element.textContent = detection_times;
        }

        function updatePolledDetectionData(d) {
            // Update the UI elements with the data from the server
            console.log('Polled data:', d);
            updateElapsedTime(d.start_time, elapsedTimeDisplay);
            updateRecentDetectionResult(d.last_result, lastResultDisplay);
            updateRecentDetectionTime(d.last_time, lastTimeValue);
            updateTotalDetectionsCount(d.total_detections, totalDetectionsDisplay);
        }

        let camSocket;
        function connectCameraWS(){
            if(camSocket) camSocket.close();
            const idx = cameraSelect.value;
            const protocol = location.protocol === 'https:' ? 'wss' : 'ws';
            const wsUrl = `${protocol}://${location.host}/ws/camera/${idx}`;
            camSocket = new WebSocket(wsUrl);
            camSocket.onmessage = event => {
                const d = JSON.parse(event.data);
                updatePolledDetectionData(d);
            };
        }
        cameraSelect.addEventListener('change', () => {
            videoPreview.src = `${document.body.dataset.cameraFeedUrl}?camera_id=${cameraSelect.value}&t=${Date.now()}`;
            connectCameraWS();
        });
        connectCameraWS();

        startBtn.addEventListener('click', function() {
            const selectedCamera = cameraSelect.value;
            fetch(`/live/start`, { 
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ camera_index: selectedCamera })
            })
                .then(response => {
                    if (response.ok) {
                        console.log('Live detection started successfully');
                        statusArea.classList.remove('status-inactive');
                        statusArea.classList.add('status-active');
                    } else {
                        console.error('Failed to start live detection');
                    }
                })
                .catch(error => console.error('Error:', error));
        });

        stopBtn.addEventListener('click', function() {
            fetch(`/live/stop`, { 
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ camera_index: cameraSelect.value })
            })
                .then(response => {
                    if (response.ok) {
                        console.log('Live detection stopped successfully');
                        statusArea.classList.remove('status-active');
                        statusArea.classList.add('status-inactive');
                    } else {
                        console.error('Failed to stop live detection');
                    }
                })
                .catch(error => console.error('Error:', error));
        });

    </script>
</body>
</html>
