<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Print Sentinel - Settings</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">
</head>
<body data-get-settings-url="{{ url_for('get_camera_state') }}">
    <header class="app-header">
        <h1>Print Sentinel</h1>
    </header>

    <div class="container settings-container">
        <h1>Settings</h1>

        <section class="video-section">
            <h2>Live Video Feed</h2>
            <img id="videoPreview" src="" alt="Live Video Feed Preview" />
            <label for="cameraSelect" class="camera-select-label">Select Camera:</label>
            <select id="cameraSelect" name="camera">
            {% for camera_id in camera_states %}
                <option value="{{ camera_id }}" {% if camera_index == camera_id %}selected{% endif %}>{{ camera_id }}</option>
            {% endfor %}
            </select>
        </section>

        <form action="{{ url_for('update_settings') }}" method="post" class="settings-form">
            <input type="hidden" id="camera_index" name="camera_index" value="{{ camera_index }}">

            <label for="sensitivity">Sensitivity: <span id="sensitivity_val"></span></label>
            <input type="range" id="sensitivity" name="sensitivity" min="0" max="3" step="0.05" value="-" />

            <label for="brightness">Brightness: <span id="brightness_val"></span></label>
            <input type="range" id="brightness" name="brightness" min="0" max="2" step="0.1" value="-" />

            <label for="contrast">Contrast: <span id="contrast_val"></span></label>
            <input type="range" id="contrast" name="contrast" min="0" max="2" step="0.1" value="-" />

            <label for="focus">Focus: <span id="focus_val"></span></label>
            <input type="range" id="focus" name="focus" min="0" max="5" step="0.1" value="-" />

            <label for="countdown_time">Countdown Time (s): <span id="countdown_time_val"></span></label>
            <input type="range" id="countdown_time" name="countdown_time" min="0" max="300" step="1" value="-" />

            <label for="majority_vote_threshold">Majority Vote Threshold: <span id="majority_vote_threshold_val"></span></label>
            <input type="range" id="majority_vote_threshold" name="majority_vote_threshold" min="1" max="100" value="-">

            <label for="majority_vote_window">Majority Vote Window (frames): <span id="majority_vote_window_val"></span></label>
            <input type="range" id="majority_vote_window" name="majority_vote_window" min="1" max="100" value="-">

            <label for="warning_intervals">Warning Intervals (sec, comma separated):</label>
            <input type="text" id="warning_intervals" name="warning_intervals" placeholder="e.g. 5,10,20" value="{{ camera_states[camera_index]['warning_intervals'] }}">

            <button type="submit">Save Settings</button>
        </form>

        <a href="{{ url_for('serve_index') }}" class="back-link">Back to Home</a>
    </div>

    <script>
        const cameraSelect = document.getElementById('cameraSelect');
        const videoPreview = document.getElementById('videoPreview');

        function updateSelectedCameraSettings() {
            fetch(`${document.body.dataset.getSettingsUrl}?`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ camera_index: cameraSelect.value })
            })
                .then(response => response.json())
                .then(settings => {
                    document.getElementById('camera_index').value = cameraSelect.value;
                    document.getElementById('sensitivity').value = settings.sensitivity;
                    document.getElementById('brightness').value = settings.brightness;
                    document.getElementById('contrast').value = settings.contrast;
                    document.getElementById('focus').value = settings.focus;
                    document.getElementById('countdown_time').value = settings.countdown_time;
                    document.getElementById('majority_vote_threshold').value = settings.majority_vote_threshold;
                    document.getElementById('majority_vote_window').value = settings.majority_vote_window;
                    document.getElementById('warning_intervals').value = settings.warning_intervals;
                    document.querySelectorAll('input[type="range"]').forEach(input => {
                        document.getElementById(`${input.id}_val`).textContent = input.value;
                    });
                });
        }

        function updateSelectedCamera() {
            videoPreview.src = `https://localhost:8000/camera_feed/${cameraSelect.value}`;
            updateSelectedCameraSettings();
        }

        cameraSelect.addEventListener('change', function() {
            updateSelectedCamera();
        });

        document.querySelectorAll('input[type="range"]').forEach(input => {
            input.addEventListener('input', function() {
                document.getElementById(`${input.id}_val`).textContent = input.value;
            });
        });

        updateSelectedCamera();
    </script>
    {% include "shared_logic.html" %}
</body>
</html>
