[build-system]
requires = ["setuptools>=61.0", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "printguard"
version = "1.0.0b3"
description = "PrintGuard - Real-time Defect Detection on Edge-devices"
authors = [
    { name = "Oliver Bravery", email = "dev@oliverbravery.uk" }
]
readme = "README.md"
requires-python = ">=3.11"

dependencies = [
    "fastapi==0.116.1",
    "uvicorn[standard]==0.35.0",
    "pywebpush==2.0.3",
    "apscheduler==3.11.0",
    "python-dotenv==1.1.1",
    "torch==2.7.1",
    "torchvision==0.22.1",
    "pillow==11.3.0",
    "opencv-python-headless==4.12.0.88",
    "python-multipart==0.0.20",
    "keyring==25.6.0",
    "trustme==1.2.1",
    "platformdirs==4.3.8",
    "sse-starlette==2.4.1",
    "ngrok==1.4.0",
    "cryptography==45.0.5",
    "numpy==2.2.6",
    "onnxruntime==1.22.1",
    "executorch==0.6.0"
]

[project.scripts]
printguard = "printguard.app:run"

[tool.black]
line-length = 88

[tool.setuptools]
include-package-data = true

[tool.setuptools.packages.find]
include = ["printguard", "printguard.*", "protonets", "protonets.*"]

[tool.setuptools.package-data]
"printguard" = [
    "static/**/*",
    "templates/**/*",
    "model/**/*"
]